body {
    background-color: #cccccc !important;
}

.wrapper-page-2 {
    /* margin: 7.5% auto; */
    max-width: 100%;
    position: relative;
}



.footer-2 {
    bottom: 0;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #8CAEC7 !important;
}

#footer-content {
    font-weight: bolder;
}




#header_div {
    height: 100px;
    background-color: #8CAEC7 !important;
    background: #8CAEC7 !important;
    overflow: hidden;
}

#header_div .navbar,
#header_div .navbar .navbar-static-top {
    height: 80px;
    background-color: #8CAEC7 !important;
    background: #8CAEC7 !important;
    color: #fff;
}

#header_logo {
    width: 100px;
    float: left;
    margin-left: 100px;
}

#header_logo img {
    width: 75px;
    height: 85px;
}

#header_content {
    float: left;
    width: 80%;
    padding-top: 5px;
}

#header_content_college {
    font-size: 25px;
    font-weight: bold;
}

#header_content_sims {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}


#home {
    margin-top: -80px;
    top: 0;
}

#application_tips {
    border-top: solid #8caec7 5px;
    border-radius: 10px;
    margin-bottom: 90px;
}




.back_login {
    margin-left: 10%;
}

.apply_form_bold {
    font-weight: bolder;
}



.topnav-2 {
    background: #ffffff;
    padding: 2px;
    margin-bottom: 90px;
    /* position: fixed; */
    right: 0;
    left: 0;
    z-index: 100;
}

.row2 {
    background-color: red;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}
